html {
  /* Pour ralentir le défilement de la page*/
  scroll-behavior: smooth;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body,
section,
h1 {
  margin: 0;
}
h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
  font-family: Georgia, "Times New Roman", Times, serif;
}
p,
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
figcaption {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  /* Positionne le menu dans la partie supérieur de la fenêtre.
  Avec le positionnement fixe, le référentiel est fenêtre*/
  position: fixed;
  top: 5px;
  right: 0;
  /* Configuration du conteneur flex */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
}
nav a {
  display: block;
  /* Premier chiffre veut dire: Défini comment l'élément va utiliser l'espace restant si c'est 0 il prend seulement l'espace qu'il a besoin
  Deuxième chiffre veut dire: L'élément peut se compresser sur lui-même si tu met 1
  Troisième chiffre est relier au premier si tu as mis 0 il va prendre 100px d'espace*/
  flex: 0 1 50px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
section {
  min-height: 100vh;
}
#accueil,
#inscription,
#tableau,
#articles,
#galerie,
#video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Chacune des sections est ciblée avec leur <id>*/
/*Début de l'accueil--------------------------------------------------------------------------------------------*/
#accueil {
  background-color: lightskyblue;
}
/*Début de l'inscription--------------------------------------------------------------------------------------------*/
#inscription {
  background-color: lightsteelblue;
}
/*Début du tableau--------------------------------------------------------------------------------------------*/
#tableau {
  background-color: rgba(53, 132, 185, 0.514);
}
/*Début de l'article--------------------------------------------------------------------------------------------*/
#articles {
  background-color: rgb(97, 134, 146);
}

/*Début de la galerie--------------------------------------------------------------------------------------------*/
#galerie {
  background-color: lightblue;
}
/*Début des vidéos--------------------------------------------------------------------------------------------*/
#video {
  background-color: rgba(94, 133, 170, 0.555);
}
/*Début du pied de page--------------------------------------------------------------------------------------------*/
#pied-page {
  background-color: rgba(50, 151, 197, 0.603);
}
