/*Contrôle les propriétés principales de la section vidéo*/
#video {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20%;
}
/*Place les textes dans des boîtes*/
#video .video_principal {
  display: flex;
  justify-content: space-between;
  border: 1px solid #aaa;
}
